<!-- passes value to h1 and title of page -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

<!-- ability to add a message -->
<%- messages() %>

<!-- login form -->
 <div id="loginFormContainer">
    <form id="loginForm" action="/account/login" method="post">
        <label for="account_email"><b>Email: </b></label>
        <input type="email" placeholder="Enter Email" name="account_email" id="account_email" 
               value="<%= locals.account_email || '' %>" required>

        <label for="account_password"><b>Password: </b></label>
        <input type="password" placeholder="Enter Password" name="account_password" id="account_password" required>
        <div>Please enter your password.</div>

        <button type="submit">Login</button>
    </form>

    <span id="createAccount">No account? <a href="/account/register">Sign-up</a></span>
</div>