<!-- passes value to h1 and title of page -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <!-- ability to add a message -->
        <%- messages() %>

<!-- content for account manager -->

<h2>Welcome <%= locals.accountData.account_firstname %> </h2>
<p>You are logged in.</p>
<h3>Update Account</h3>
<p><a href="/account/update">Update account information</a></p>

<% const accountType = locals.accountData.account_type %>
<% if (accountType === 'Employee' || accountType === 'Admin') { %>
    <h3>Inventory Management</h3>
    <p><a href="/inv/">Manage Inventory</a></p>
<% } %>