/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Home page - Mobile First (Small Screen Default) */
html {
  /* color variables */
  --white: #fff;
  --whiteTransparent: #ffffffe1;
  --black: #000;
  --accent: #0BB4D6;
  --navBackground: #242332;
  background:
    repeating-conic-gradient(var(--black) 0% 25%, var(--white) 0% 50%)
    50%/ 80px 80px;

  display: block;
}

body {
  background-color: var(--white);
  padding: 5px;
  margin: 0;
  border: none;
  border-radius: none;
}

/* Header */
#top-header {
  font-family: sans-serif;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem 5px;
}

#top-header a {
  text-decoration: none;
  color: var(--black);
}

.siteName {
  font-size: 1.75rem;
}

h1 {
  font-size: 1.5rem;
}

/* Navigation */
nav {
  margin: 0 5px;
  background-color: var(--navBackground);
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style-type: none;
  margin: .5rem;
  font-family: sans-serif;
  color: var(--white);
  text-decoration: none;
}

nav li a {
  color: var(--white);
  text-decoration: none;
  padding: 10px;
}

nav li a:hover {
  background-color: var(--white);
  color: var(--black);
}

/* Main */
main {
  margin: 5px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.hero img {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  margin: 1rem 3rem;
  justify-self: center;
  width: 100%;
  object-fit: contain;
  height: auto;
}

.heroCard {
  grid-column-start: 1;
  grid-row-start: 1;
  background-color: var(--whiteTransparent);
  color: var(--accent);
  margin: 0;
  width: 100%;
  min-width: 140px;
  height: fit-content;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroCard p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
}

.heroCard h2 {
  margin: 0;
  font-size: 1.25rem;
}

.heroCard ul {
  padding: 0;
  margin: 0;
}

.heroCard button {
  background-color: var(--accent);
  margin: 0;
  padding: 5px 0;
  width: 75%;
  font-weight: 800;
}

/* cards - Mobile layout */
#cardGrid {
  display: grid;
  grid-template-areas: 
  "title2"
  "reviews"
  "title1"
  "upgrades";
  grid-template-columns: 1fr;
  gap: 10px;
}

.title1 {
  grid-area: title1;
}

.title2 {
  grid-area: title2;
}

#upgrades {
  grid-area: upgrades;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#upgrades div {
  display: grid;
  grid-template-rows: 85px 1fr;
  justify-items: center;
  margin: 0 0 2rem;
}

#upgrades div div {
  width: 100%;
  height: 100%;
  border: 1px solid var(--black);
  background-color: var(--accent);
}

#upgrades img {
  margin: 5px 0;;
}

#reviews {
  grid-area: reviews;
}

#reviews p {
  list-style-type: disc;
  display: list-item;
  margin-left: 1rem;
}

/* category display */
#inv-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 2rem;
}

#inv-display li {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 10px;
  list-style-type: none;
  margin: 1rem;
}

#inv-display li a {
  display: flex;
  align-content: center;
}

#inv-display li a img {
  display: flex;
  overflow: hidden;
  min-width: 200px;
  border-radius: 10px 0 0 10px;
}

#inv-display div {
  margin: 0 2rem;
  flex-grow: 1;
}

#inv-display hr {
  display: none;
}

/* single inventory item view */
.detailView {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.detailView img {
  max-width: 500px;
  height: auto;
}

.infoCard {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(237, 239, 243);
}

/* login form styling */

#loginFormContainer {
  border: 1px solid black;
  background-color: rgb(202, 202, 202);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}

#loginForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 1rem;
  width: 500px;
  max-width: 100%;
}

#loginForm button {
  margin: 10px 0;
  background-color: var(--accent);
  width: 100px;
  max-width: 100%;
}

/* footer */
footer {
  margin: 5px;
}

/* Large Screens */
@media screen and (min-width: 651px) { 
  html {
    display: flex;
    justify-content: center;
  }

  body {
    border: 4px solid var(--accent);
    border-radius: 8px;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    width: 95%;
    max-width: 95%;
  }

  h1 {
    font-size: 2rem;

  }

  .heroCard {
    margin: 25% 0 25% 2rem;
    min-width: 160px;
    height: initial;
    align-self: initial;
  }

  .heroCard h2 {
    font-size: 1.75rem;
  }

  .heroCard p {
    font-size: 1.25rem;
    font-weight: initial;
  }

  .heroCard button {
    padding: 1rem;
    margin: 1rem 0;
    width: 140px;
  }

  .hero img {
    width: initial;
    object-fit: initial;
    height: initial;
  }

  /* cards - Desktop layout */
  #cardGrid {
    display: grid;
    grid-template-areas:
    "title1 title2" 
    "upgrades reviews";
    grid-template-columns: 1fr 1fr;
  }
  
  /* inventory category display large screen */
  #inv-display {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 2rem;
    justify-content: space-evenly;
  }

  #inv-display li {
    display: flex;
    flex-direction: column;
  }

  #inv-display li a img {
    border-radius: 10px 10px 0 0;
    min-width: 0;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
  }

  #inv-display div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-height: 150px;
    height: 150px;
  }

  #inv-display div hr {
    display: block;
    width: 95%;
  }

  /* single inventory detail view */
  .detailView {
    flex-direction: row;
  }

}